        ion-card {
            margin-top: 100px;
        }
        
        ion-content {
            --background: url("../../../assets/image/spinner.jpg") no-repeat center center/cover;
        }
        
        ion-card-title {
            text-align: center;
            font-weight: bold;
        }